@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body{
    font-family: "Radio Canada Big", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111111;
    background-image: linear-gradient(
        32deg,
        rgba(8, 8, 8, 0.74) 30px,
        transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
}
.nameConfig{
    display: flex;
}
h2{
    color: white;
}
.user-interface{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    margin: 5em auto;
    width: 20em;
    height: 35em;
    border-radius: 10px;
    background-color: rgb(30, 32, 39);
}
.message_container{
    margin: 0.5em auto;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}
.write_container{
    margin: auto;
    padding: 0;
    width: 90%;
    height: 5%;
    display: flex;
    
}
.write{
    font-family: "Radio Canada Big", sans-serif;
    margin: 0;
    border: none;
    border-radius: 50px;
    width: 90%;
    height: 100%;
    background-color: rgb(73, 77, 90);
    resize: none;
    color: white;
}
.write::placeholder{
    color: white;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 16px;
    
}
.write:focus{
    outline: none;
    
}
.send{
    font-family: "Radio Canada Big", sans-serif;
    margin: auto 0;
    border: none;
    border-radius: 50px;
    width: 31px;
    height: 31px;
    padding: 0;
}
.send img{
    width: 20px;
    height: 20px;
    display: flex;
    margin: auto;
}
.send:hover{
    background-color: rgb(187, 187, 187);
}
.send:active{
    background-color: white;
}
ul{
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
li{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: end;
}
p{
    margin: 3px 0;
    display: inline-block;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    
}
.msg_name{
    color: rgba(255, 255, 255, 0.607);
}
.message_sent {
    background-color: #1e66aa;
    margin-left: auto;
}

.message_received {
    background-color: rgb(73, 77, 90);
    margin-right: auto;
}

.nameConfig{
    display: flex;
    flex-direction: column;
    margin: 10em auto;
    width: 20em;
}
.name_container{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    color: white;
}
.nameConfig button{
    margin: auto;
    width: 50%;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

